In [19]:
import pandas as pd
from datetime import datetime

In [20]:
def format_with_commas(x):
    return '{:,.0f}'.format(x)


def add_grupo(asiento):
    grupo = asiento['NoCuenta'][:1]
    
    return grupos_plan_general_contable[grupo]


def create_purchases(asiento):
    if asiento['NoCuenta'].startswith('6'):
        return asiento['Debe'] - asiento['Haber']
    else:
        return 0
    
    
def create_sales(asiento):
    if asiento['NoCuenta'].startswith('7'):
        return asiento['Haber'] - asiento['Debe']
    else:
        return 0

In [21]:
pd.options.display.float_format = format_with_commas

In [22]:
dataset = pd.read_csv('../datasets/diario.csv')
dataset.head(6)

,Movimiento,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad
0,BNK1/2017/0054,2017-09-25,Capital social,100000,0,"1,500",Allison Hill
1,BNK1/2017/0054,2017-09-25,BBVA,572001,"1,500",0,Allison Hill
2,BNK1/2017/0053,2017-09-25,Capital social,100000,0,"1,500",Noah Rhodes
3,BNK1/2017/0053,2017-09-25,BBVA,572001,"1,500",0,Noah Rhodes
4,BILL/2017/0001,2017-09-25,Acreedores por prestaciones de servicios (euros),410000,0,223,Angie Henderson
5,BILL/2017/0001,2017-09-25,"Hacienda Pública, acreedora por retenciones pr...",475100,0,31,Angie Henderson

In [23]:
dataset.drop(columns = ['Movimiento'], inplace = True)
dataset

,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad
0,2017-09-25,Capital social,100000,0,"1,500",Allison Hill
1,2017-09-25,BBVA,572001,"1,500",0,Allison Hill
2,2017-09-25,Capital social,100000,0,"1,500",Noah Rhodes
3,2017-09-25,BBVA,572001,"1,500",0,Noah Rhodes
4,2017-09-25,Acreedores por prestaciones de servicios (euros),410000,0,223,Angie Henderson
...,...,...,...,...,...,...
36306,2024-01-11,Prestaciones de servicios en España,705000,0,56,Sara James
36307,2024-01-11,Clientes (euros),430000,95,0,Mark Richards
36308,2024-01-11,Prestaciones de servicios en España,705000,0,0,Mark Richards
36309,2024-01-11,Hacienda Pública. IVA repercutido,477000,0,16,Mark Richards
36310,2024-01-11,Prestaciones de servicios en España,705000,0,79,Mark Richards

In [24]:
dataset.reset_index(inplace = True)
dataset.rename(columns = {'index': 'ID'}, inplace = True)
dataset

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad
0,0,2017-09-25,Capital social,100000,0,"1,500",Allison Hill
1,1,2017-09-25,BBVA,572001,"1,500",0,Allison Hill
2,2,2017-09-25,Capital social,100000,0,"1,500",Noah Rhodes
3,3,2017-09-25,BBVA,572001,"1,500",0,Noah Rhodes
4,4,2017-09-25,Acreedores por prestaciones de servicios (euros),410000,0,223,Angie Henderson
...,...,...,...,...,...,...,...
36306,36306,2024-01-11,Prestaciones de servicios en España,705000,0,56,Sara James
36307,36307,2024-01-11,Clientes (euros),430000,95,0,Mark Richards
36308,36308,2024-01-11,Prestaciones de servicios en España,705000,0,0,Mark Richards
36309,36309,2024-01-11,Hacienda Pública. IVA repercutido,477000,0,16,Mark Richards
36310,36310,2024-01-11,Prestaciones de servicios en España,705000,0,79,Mark Richards

In [25]:
dataset['NoCuenta'] = dataset['NoCuenta'].astype(str).str[:3]
dataset['Compras'] = dataset.apply(create_purchases, axis = 1)
dataset['Ventas'] = dataset.apply(create_sales, axis = 1)
dataset

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas
0,0,2017-09-25,Capital social,100,0,"1,500",Allison Hill,0,0
1,1,2017-09-25,BBVA,572,"1,500",0,Allison Hill,0,0
2,2,2017-09-25,Capital social,100,0,"1,500",Noah Rhodes,0,0
3,3,2017-09-25,BBVA,572,"1,500",0,Noah Rhodes,0,0
4,4,2017-09-25,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0
...,...,...,...,...,...,...,...,...,...
36306,36306,2024-01-11,Prestaciones de servicios en España,705,0,56,Sara James,0,56
36307,36307,2024-01-11,Clientes (euros),430,95,0,Mark Richards,0,0
36308,36308,2024-01-11,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0
36309,36309,2024-01-11,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0
36310,36310,2024-01-11,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79

In [26]:
grupos_plan_general_contable = {'1': '100',
                               '2':'200',
                               '3': '300',
                               '4':'400',
                               '5': '500',
                               '6':'600',
                               '7': '700',
                               '8':'800',
                               '9': '900'}
dataset['NoGrupo'] = dataset.apply(add_grupo, axis =1)
dataset

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas,NoGrupo
0,0,2017-09-25,Capital social,100,0,"1,500",Allison Hill,0,0,100
1,1,2017-09-25,BBVA,572,"1,500",0,Allison Hill,0,0,500
2,2,2017-09-25,Capital social,100,0,"1,500",Noah Rhodes,0,0,100
3,3,2017-09-25,BBVA,572,"1,500",0,Noah Rhodes,0,0,500
4,4,2017-09-25,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0,400
...,...,...,...,...,...,...,...,...,...,...
36306,36306,2024-01-11,Prestaciones de servicios en España,705,0,56,Sara James,0,56,700
36307,36307,2024-01-11,Clientes (euros),430,95,0,Mark Richards,0,0,400
36308,36308,2024-01-11,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0,700
36309,36309,2024-01-11,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0,400
36310,36310,2024-01-11,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79,700

In [27]:
dataset['Fecha'] = pd.to_datetime(dataset['Fecha']).dt.strftime('%d/%m/%Y')
dataset

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas,NoGrupo
0,0,25/09/2017,Capital social,100,0,"1,500",Allison Hill,0,0,100
1,1,25/09/2017,BBVA,572,"1,500",0,Allison Hill,0,0,500
2,2,25/09/2017,Capital social,100,0,"1,500",Noah Rhodes,0,0,100
3,3,25/09/2017,BBVA,572,"1,500",0,Noah Rhodes,0,0,500
4,4,25/09/2017,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0,400
...,...,...,...,...,...,...,...,...,...,...
36306,36306,11/01/2024,Prestaciones de servicios en España,705,0,56,Sara James,0,56,700
36307,36307,11/01/2024,Clientes (euros),430,95,0,Mark Richards,0,0,400
36308,36308,11/01/2024,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0,700
36309,36309,11/01/2024,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0,400
36310,36310,11/01/2024,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79,700

In [28]:
dataset_incr = dataset.copy()

In [29]:
dataset_incr['Fecha'] = pd.to_datetime(dataset_incr['Fecha'], format='%d/%m/%Y')
dataset_incr

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas,NoGrupo
0,0,2017-09-25,Capital social,100,0,"1,500",Allison Hill,0,0,100
1,1,2017-09-25,BBVA,572,"1,500",0,Allison Hill,0,0,500
2,2,2017-09-25,Capital social,100,0,"1,500",Noah Rhodes,0,0,100
3,3,2017-09-25,BBVA,572,"1,500",0,Noah Rhodes,0,0,500
4,4,2017-09-25,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0,400
...,...,...,...,...,...,...,...,...,...,...
36306,36306,2024-01-11,Prestaciones de servicios en España,705,0,56,Sara James,0,56,700
36307,36307,2024-01-11,Clientes (euros),430,95,0,Mark Richards,0,0,400
36308,36308,2024-01-11,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0,700
36309,36309,2024-01-11,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0,400
36310,36310,2024-01-11,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79,700

In [30]:
dataset_incr = dataset_incr[~((dataset_incr['Fecha'].dt.year == 2017) & (dataset_incr['NoCuenta'].str.startswith('7')))]

In [31]:
dataset_incr.head(30)

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas,NoGrupo
0,0,2017-09-25,Capital social,100,0,"1,500",Allison Hill,0,0,100
1,1,2017-09-25,BBVA,572,"1,500",0,Allison Hill,0,0,500
2,2,2017-09-25,Capital social,100,0,"1,500",Noah Rhodes,0,0,100
3,3,2017-09-25,BBVA,572,"1,500",0,Noah Rhodes,0,0,500
4,4,2017-09-25,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0,400
5,5,2017-09-25,"Hacienda Pública, acreedora por retenciones pr...",475,0,31,Angie Henderson,0,0,400
6,6,2017-09-25,Hacienda Pública. IVA soportado,472,43,0,Angie Henderson,0,0,400
7,7,2017-09-25,Reservas voluntarias,113,6,0,Angie Henderson,0,0,100
8,8,2017-09-25,Reservas voluntarias,113,205,0,Angie Henderson,0,0,100
9,9,2017-09-29,Cash,570,0,223,Angie Henderson,0,0,500
10,10,2017-09-29,Acreedores por prestaciones de servicios (euros),410,223,0,Angie Henderson,0,0,400
11,11,2017-09-30,"Hacienda Pública, acreedora por IVA",475,0,22,Daniel Wagner,0,0,400
12,12,2017-09-30,Hacienda Pública. IVA repercutido,477,65,0,Cristian Santos,0,0,400
13,13,2017-09-30,Hacienda Pública. IVA soportado,472,0,43,Cristian Santos,0,0,400
14,14,2017-09-30,Clientes (euros),430,375,0,Connie Lawrence,0,0,400
15,15,2017-09-30,Hacienda Pública. IVA repercutido,477,0,65,Connie Lawrence,0,0,400
17,17,2017-09-30,Clientes (euros),430,"5,473",0,Abigail Shaffer,0,0,400
51,51,2017-10-01,Cash,570,0,16,Gina Moore,0,0,500
52,52,2017-10-01,Acreedores por prestaciones de servicios en Es...,410,16,0,Gina Moore,0,0,400
53,53,2017-10-01,Cash,570,0,7,Gina Moore,0,0,500
54,54,2017-10-01,Acreedores por prestaciones de servicios en Es...,410,7,0,Gina Moore,0,0,400
55,55,2017-10-01,Acreedores por prestaciones de servicios en Es...,410,0,7,Gina Moore,0,0,400
56,56,2017-10-01,Hacienda Pública. IVA soportado,472,1,0,Gina Moore,0,0,400
57,57,2017-10-01,Reservas voluntarias,113,6,0,Gina Moore,0,0,100
58,58,2017-10-01,Acreedores por prestaciones de servicios en Es...,410,0,16,Gina Moore,0,0,400
59,59,2017-10-01,Hacienda Pública. IVA soportado,472,3,0,Gina Moore,0,0,400
60,60,2017-10-01,Reservas voluntarias,113,14,0,Gina Moore,0,0,100
61,61,2017-10-01,Clientes (euros),430,"3,564",0,Gabrielle Davis,0,0,400
62,62,2017-10-01,Hacienda Pública. IVA repercutido,477,0,619,Gabrielle Davis,0,0,400
100,100,2017-10-01,Clientes (euros),430,"3,201",0,Ryan Munoz,0,0,400

In [32]:
for _ in range(200):
    dataset_incr = pd.concat([dataset_incr, dataset_incr.tail(100)], ignore_index=True)

In [33]:
dataset_incr.shape

(56128, 10)

In [34]:
dataset_incr['Fecha'] = dataset_incr['Fecha'].dt.strftime('%d/%m/%Y')
dataset_incr

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas,NoGrupo
0,0,25/09/2017,Capital social,100,0,"1,500",Allison Hill,0,0,100
1,1,25/09/2017,BBVA,572,"1,500",0,Allison Hill,0,0,500
2,2,25/09/2017,Capital social,100,0,"1,500",Noah Rhodes,0,0,100
3,3,25/09/2017,BBVA,572,"1,500",0,Noah Rhodes,0,0,500
4,4,25/09/2017,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0,400
...,...,...,...,...,...,...,...,...,...,...
56123,36306,11/01/2024,Prestaciones de servicios en España,705,0,56,Sara James,0,56,700
56124,36307,11/01/2024,Clientes (euros),430,95,0,Mark Richards,0,0,400
56125,36308,11/01/2024,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0,700
56126,36309,11/01/2024,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0,400
56127,36310,11/01/2024,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79,700

In [35]:
dataset_incr.drop(columns = 'ID', inplace = True)
dataset_incr.reset_index(inplace = True)
dataset_incr.rename(columns = {'index': 'ID'}, inplace = True)
dataset_incr

,ID,Fecha,Cuenta,NoCuenta,Debe,Haber,Entidad,Compras,Ventas,NoGrupo
0,0,25/09/2017,Capital social,100,0,"1,500",Allison Hill,0,0,100
1,1,25/09/2017,BBVA,572,"1,500",0,Allison Hill,0,0,500
2,2,25/09/2017,Capital social,100,0,"1,500",Noah Rhodes,0,0,100
3,3,25/09/2017,BBVA,572,"1,500",0,Noah Rhodes,0,0,500
4,4,25/09/2017,Acreedores por prestaciones de servicios (euros),410,0,223,Angie Henderson,0,0,400
...,...,...,...,...,...,...,...,...,...,...
56123,56123,11/01/2024,Prestaciones de servicios en España,705,0,56,Sara James,0,56,700
56124,56124,11/01/2024,Clientes (euros),430,95,0,Mark Richards,0,0,400
56125,56125,11/01/2024,Prestaciones de servicios en España,705,0,0,Mark Richards,0,0,700
56126,56126,11/01/2024,Hacienda Pública. IVA repercutido,477,0,16,Mark Richards,0,0,400
56127,56127,11/01/2024,Prestaciones de servicios en España,705,0,79,Mark Richards,0,79,700

In [36]:
dataset_incr.to_parquet('../datasets/diario.parquet')
dataset_incr.to_csv('../datasets/check.csv')